/* Home.css */
.home-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content-center {
  display: flex;
  flex-direction: column;
  gap: 10px;
}